[Desktop Entry]
Name=Better Paper
Comment=A better wallpaper setting application for GNOME
Exec=/home/manogya/Desktop/betterpaper/launcher.py
Icon=/home/manogya/Desktop/betterpaper/BetterPaper.jpeg
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;
Keywords=Wallpaper;Background;
StartupNotify=true